$tea-green: #ccd5aeff;
$beige: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$buff: #d4a373ff;

$primary: #d4af9b;
$secondary: #ccd5ae;

.inner-margin{
    p{
        margin: 1rem 0;
    }
}