.home-img{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: -109px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    background-image: url('./assets/img/home-bg.jpg');
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.ig-logo{
    width: 30px;
}

/* Media for BG Img */
@media screen and (max-width: 946px) {
    .home-img{
        top: -169px;
    }
  }